<a href="https://colab.research.google.com/github/hirade37/Basic_Python-Machine_Learning/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95/%EC%9E%90%EB%A3%8C%ED%98%95(%ED%88%AC%ED%94%8C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 투플 ( Tuple ) - 리스트 자료구조와 비슷 ( 투플은 () 안에 원소 입력,  하지만 원소 추가, 삭제는 X )
tuple1 = (0, 1, 2)
print(tuple1) # (0, 1, 2)

(0, 1, 2)

In [11]:
print(type(tuple1)) # 자료형 확인

<class 'tuple'>

In [12]:
# 원소가 없는 빈 투플 만들기 
tuple2 = ()
print(tuple2) # ()

()

In [13]:
# 투플 인덱싱 - 리스트 인덱싱과 비슷
tuple1[0] # 0

0

In [14]:
tuple1[-1] # 2

2

In [15]:
# 투플 인덱싱 슬라이싱
tuple1[0:3] # (0, 1, 2)

(0, 1, 2)